<html>
<head>
  <title>index</title>
</head>
<body>
<form method="POST" action="/">
Name<input name="name" type="text" placeholder="name"><br>
Surname<input name="surname" type="text" placeholder="surname"><br>
Age<input name="age" type="text" placeholder="age"><br>
Gender <br>
Male<input name="gender" type="checkbox" value="male">
or Female<input name="gender" type="checkbox" value="female"><br>
<input name="submit" type="submit">
</form>

</body>
</html>